[Settings]
### MIDAS INPUT FILE ###
# Basname of the input file (.pdb/.psf)
name = hBeta2_superposed                             
# Ligand File name
# ligname = iperoxo
# Ligand Residue Name
# LIG = LIG
# Membrane lipids residue name
lipid = POPC
# Basename of the cosolvent file (.pdb/.psf)
coname = BTA               
# Cosolvent Molecular Weight (g/mol)
pm = 87.12 
# Desired m/m % cosolvent concentration
conc = 10
# Cosolvent residue name
CSOLV = BTA 
# Height of water molecules pad to be placed between the protein 
# and the water/co-solvent box with controlled m/m concentration
zoff = 6.000000
# Height of the water/co-solvent box on the z axis
zheight = 20.0000
# xy offset for water/co-solvent box size
offset = 1.000000 #Not yet implemented
# Height of water molecule pad to be placed between the z boundaries of
# of the whole system and the water/co-solvent box
zoffset = 1.000000
# Disulfide bridges specification: resid pairs separated by commas
DISU = 184 - 190; 191 - 106
